.wrapper {
  height: 100vh;
  width: 100vw;
  background-color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15% 0;
  color: white;
}
.inputWrapperBox {
  width: 90vw;
  max-width: 360px;
  background-color: #222222;
  padding: 1rem;
  color: white;
  border-radius: 0.4rem;
  margin-top: 2rem;
}
.inputWrapperBox strong {
  font-size: larger;
}
.inputWrapperBox small {
  display: flex;
  margin-top: 1rem;
  color: red;
}
.inputWrapper div {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  align-items: center;
  justify-content: space-between;
}
.inputWrapper div span {
  min-width: 5rem;
}
.inputWrapper div input {
  width: 100%;
  height: 2.5rem;
  padding: 0.4rem;
  outline: none;
  border: none;
  background-color: #343434;
  border-radius: 0.2rem;
  color: #dedede;
}
.inputWrapper div input:disabled {
  font-weight: bold;
}
.actionsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.actionsWrapper button {
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  margin-top: 1rem;
  padding: 0 2rem;
  background-color: #111;
  color: white;
  border: none;
  border-radius: 0.4rem;
  outline: none;
  cursor: pointer;
}
